body table {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 245, 237);
}


/* body h5 {
    color: rgb(234, 252, 195);
} */

table th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 1px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: rgb(255, 255, 255);
}

table td {
    font-style: normal;
    font-size: .9rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

table td a {
    text-decoration: none;
    color: rgb(59, 3, 3);
    background-color: rgb(89, 255, 89);
    border-style: none;
    border-radius: 50%;
}

table td a:hover {
    color: rgb(0, 80, 11);
}